body{
    text-align: center;
    background-color: black;
    font-family: trebuchet ms;
    margin: 0%;
}
#gifi{

    width: 50%;
    height: 50%;
    margin-left: 250px;
    margin-top: 10px;
}


  h1{
    text-shadow: 0 0 30px #fff;
    color: azure;
    font-size:80px;
  }

  
  #brillo{
      width: 100px;
      height:80px;
      float: right;
      margin-right: 150px;
  }
 #nome{
        font-size: 20px;
        background-color:rgba(41, 37, 37, 0.548);
        border: 2px solid rgb(245, 255, 153);
        border-radius: 10px;
        padding: 8px;
        width: 400px;
        box-shadow: 0 0 30px yellow;
        color: #fff;
        margin-top: 30px;
        text-indent:5px;
 }
 #start{
    border: 3px solid red;
    border-radius: 100px;
    width: 150px;
    height: 70px;
    margin-top:20px;
    box-shadow: 0 0 30px red;
    background-color: rgb(247, 247, 15);
    color: rgb(214, 3, 3);
    font-size: 50px;
    font-weight: bold;

 }
 